*{
}

body
{
	border: 3px solid Ivory;
	outline: 8px solid DimGray;
	color: Ivory;
	background-color: DarkGray;
	margin: 20px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.bar:before, .bar:after
{
   content: "";
   display:table;
}
.bar:after
{
   clear: both;
}
.bar
{
   list-style-type: none;
   clear: both;
   padding: 0px;
}

li
{
   float: left;
   width: 28%;
   margin: 1%;
   background-color: #484848;
   padding: 10px;
   border: 1px solid Ivory;
   border-radius: 10px;
   text-align: center;
}

p
{
	background-color: Ivory;
	color: DimGray;
	padding: 20px;
}

h1, h2, h3, h4, h5
{
   background-color: DimGray;
   padding: 10px;
   border-radius: 10px;
}
