*{}

body 
{
	border: 3px solid white;
	outline: 8px solid MediumSlateBlue;
	color: white;
	background-color: DarkSlateBlue;
	margin: 20px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

h1 
{
	background-color: MediumSlateBlue;
	padding: 10px;
}

h2 
{
	background-color: MediumSlateBlue;
	padding: 10px;
}

h3 
{
	background-color: MediumSlateBlue;
	padding: 10px;
}

h4 
{
	background-color: MediumSlateBlue;
	padding: 10px;
}

h5 
{
	background-color: MediumSlateBlue;
	padding: 10px;
}